<div class="card-header">
    <h4>CONSULTORIO MEDICO</h4>
    <header class="navegacion">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/pacientes">Pacientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctores">Doctores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/citas">Citas</a>
            </li>
        </ul>
    </header>
</div>